:host {
    .title {
        font-size: large;
        font-weight: bold;
        text-align: center;
    }
    .header {
        font-weight: bolder;
    }

    .info-num{
        font-size: larger;
    }
}
