.container {
    overflow: scroll;
    overflow-scrolling: touch;
}

.info-num {
    font-size: 2em;
    text-align: center;
}

.info-text {
    font-size: 1.25em;
    text-align: center;
}

.title {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

