<ion-toolbar>
    <ng-container *ngIf="this.type === 'login' || this.type === 'register'
                   || this.type === 'reset-password' else defaultToolbar">
        <ion-back-button [hidden]="!showBackButton" slot="start"
                         text="{{ 'BACK_UPPERCASE' | translate }}"></ion-back-button>
        <ion-button slot="end" (click)="languageSelect.openLanguageSelect($event)">
            <ion-icon name="language-sharp"></ion-icon>
            <ion-text>{{ "LANG_ID" | translate }}</ion-text>
        </ion-button>
    </ng-container>

    <ng-template #defaultToolbar>
        <ion-buttons slot="start">
            <ion-back-button slot="start" [hidden]="!showBackButton" text="{{ 'BACK' | translate }}"></ion-back-button>
        </ion-buttons>
        <div class="ion-color-primary">
            <ng-container *ngIf="connectionStatus !== undefined && connectionStatusColor !== undefined && isConnectionManagementEnabled">
                <ion-chip [color]="connectionStatusColor" (click)="manageConnection()">
                    <ion-icon name="bluetooth"></ion-icon>
                    <ion-label>{{ connectionStatus | translate }}</ion-label>
                    <ng-container *ngIf="connectionStatus === 'CONNECTING'">
                        <ion-spinner name="lines-sharp-small" [color]="connectionStatusColor"></ion-spinner>
                    </ng-container>
                </ion-chip>
            </ng-container>
            <ng-container
                *ngIf="batteryInfo !== undefined && batteryChipIconName !== undefined && batteryChipColor !== undefined">
                <ion-chip [color]="batteryChipColor">
                    <ion-icon [name]="batteryChipIconName"></ion-icon>
                    <ion-label>{{ batteryInfo.batteryLevel + '%'}}</ion-label>
                </ion-chip>
            </ng-container>
            <ng-container *ngIf="connectionInfo?.isReady()">
                <ion-chip [color]="syncStatusColor" (click)="syncDeviceData()">
                    <ion-icon name="sync-circle-outline"></ion-icon>
                    <ng-container *ngIf="syncStatus === 'processing' || syncStatus === 'started'">
                        <ion-spinner name="lines-sharp-small" [color]="syncStatusColor"></ion-spinner>
                    </ng-container>
                    <ng-container *ngIf="syncStatusIconName !== undefined">
                        <ion-icon [name]="syncStatusIconName"></ion-icon>
                    </ng-container>
                </ion-chip>
            </ng-container>
        </div>
        <ion-buttons slot="end">
            <ng-container *ngIf="menuId !== undefined else withoutMenu">
                <ion-menu-button></ion-menu-button>
            </ng-container>
            <ng-template #withoutMenu>
                <ion-item button="true" (click)="languageSelect.openLanguageSelect($event)">
                    <ion-icon name="language-sharp"></ion-icon>
                    <ion-text>{{ "LANG_ID" | translate }}</ion-text>
                </ion-item>
                <ng-container *ngIf="showSignOut">
                    <ion-item button="true" slot="icon-only" (click)="logoutEvent.emit()">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </ion-item>
                </ng-container>
            </ng-template>
        </ion-buttons>
    </ng-template>
    <app-toolbar-language-select #languageSelect></app-toolbar-language-select>
</ion-toolbar>
