<ion-toolbar>
    <ng-container *ngIf="this.type === 'login' || this.type === 'register' else defaultToolbar">
        <ng-container *ngIf="this.type === 'register' else otherBackButton">
            <ion-back-button [hidden]="!showBackButton" slot="start" text="{{ 'BACK' | translate }}"></ion-back-button>
        </ng-container>
        <ng-template #otherBackButton>
            <ion-button [hidden]="!showBackButton" slot="start" (click)="goBack()">
                <ion-icon name="arrow-back-sharp"></ion-icon>
                <ion-text>{{ 'BACK' | translate }}</ion-text>
            </ion-button>
        </ng-template>
        <ion-button slot="end" (click)="openLanguageSelect($event)">
            <ion-icon name="language-sharp"></ion-icon>
            <ion-text>{{ "LANG_ID" | translate }}</ion-text>
        </ion-button>
    </ng-container>

    <ng-template #defaultToolbar>
        <ion-buttons slot="start">
            <ion-back-button slot="start" [hidden]="!showBackButton" text="{{ 'BACK' | translate }}"></ion-back-button>
        </ion-buttons>
        <div class="ion-color-primary">
            <ng-container *ngIf="connectionStatus !== undefined && connectionStatusColor !== undefined">
                <ion-chip [color]="connectionStatusColor">
                    <ion-icon name="bluetooth"></ion-icon>
                    <ion-label>{{ connectionStatus | translate }}</ion-label>
                    <ng-container *ngIf="connectionStatus === 'CONNECTING'">
                        <ion-spinner name="lines-sharp-small" [color]="connectionStatusColor"></ion-spinner>
                    </ng-container>
                </ion-chip>
            </ng-container>
            <ng-container *ngIf="batteryInfo !== undefined && batteryChipIconName !== undefined && batteryChipColor !== undefined">
                <ion-chip [color]="batteryChipColor">
                    <ion-icon [name]="batteryChipIconName"></ion-icon>
                    <ion-label>{{ batteryInfo.batteryLevel + '%'}}</ion-label>
                </ion-chip>
            </ng-container>
        </div>
        <ion-buttons slot="end">
            <ion-button (click)="openLanguageSelect($event)">
                <ion-icon name="language-sharp"></ion-icon>
                <ion-text>{{ "LANG_ID" | translate }}</ion-text>
            </ion-button>
            <ng-container *ngIf="authUser !== undefined">
                <ion-button slot="icon-only" (click)="signOut()">
                    <ion-icon name="log-out-outline"></ion-icon>
                </ion-button>
                <ion-menu-button></ion-menu-button>
            </ng-container>
        </ion-buttons>
    </ng-template>

    <ion-select [(ngModel)]="currentLanguage" [hidden]="true" interface="popover" #languageSelect>
        <ng-container *ngFor="let lang of languages">
            <ion-select-option value="{{ lang }}">{{ lang.toUpperCase() | translate }}</ion-select-option>
        </ng-container>
    </ion-select>
</ion-toolbar>
