<ion-tabs #tabBar (ionTabsDidChange)="setSelectedTab()">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="device">
            <ion-icon [name]="deviceIcon"></ion-icon>
            <ion-label>{{ 'DEVICE' | translate  }}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="activity">
            <ion-icon [name]="activityIcon"></ion-icon>
            <ion-label>{{ 'ACTIVITY' | translate  }}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="heart-rate">
            <ion-icon [name]="heartRateIcon"></ion-icon>
            <ion-label>{{ 'PULSE' | translate  }}</ion-label>
        </ion-tab-button>
        <!--
        <ion-tab-button tab="statistics">
            <ion-icon [name]="statisticsIcon"></ion-icon>
            <ion-label>{{ 'STATISTICS' | translate  }}</ion-label>
        </ion-tab-button>
        -->
    </ion-tab-bar>
</ion-tabs>
