<ion-grid [formGroup]="emailFormGroup">
  <ion-row>
    <ion-col>
      <ion-item >
        <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" autocomplete="email" formControlName="email"
                   clearInput="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" [disabled]="emailFormGroup.invalid" (click)="sendPasswordResetLink()">{{'REQUEST_PASSWORD_RESET_LINK' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
