/* Android 12 Material You style */

ion-card, ion-item {
    border-radius: 32px;
}

ion-popover::part(content) {
    border-radius: 32px;
    margin: 1% 1%;
    padding: 1% 1%;
    background-color: #1f1f1f;
}

ion-popover::part(backdrop) {
    --backdrop-opacity: 0.6;
}

ion-button, ion-back-button {
    --border-radius: 32px;
}

.popover-content {
    --border-radius: 32px;
    border-radius: 32px;
}

.container {
    overflow: scroll;
    overflow-scrolling: touch;
}
