<ion-header>
    <app-toolbar type="login" [showBackButton]="isResettingPassword"
                 (switchTemplate)="setIsResettingPassword($event)"></app-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-title class="ion-text-center" color="primary">{{ title | translate }}</ion-card-title>
        <ng-container *ngIf="!isResettingPassword else passwordResetForm">
            <ion-card-content [formGroup]="loginFormGroup">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
                                <ion-input type="email" autocomplete="email" formControlName="email"
                                           clearInput="true"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <app-password-input [inputFormControl]="getLoginFormControl('password')"
                                                inputLabel="PASSWORD"
                                                labelPosition="floating" clearInput="true"></app-password-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button color="primary" (click)="login()" [disabled]="loginFormGroup.invalid">
                                {{ 'SIGN_IN' | translate }}
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button color="primary"
                                        (click)="goToRegister()">{{ 'REGISTER' | translate }}</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button color="primary"
                                        (click)="resetPassword()">{{ 'RESET_PASSWORD' | translate}}</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ng-container>
        <ng-template #passwordResetForm>
            <app-login-reset-password [email]="loginFormGroup.get('email').value"></app-login-reset-password>
        </ng-template>
    </ion-card>
</ion-content>
