ion-modal {
    .title {
        font-size: large;

    }
    .page-title {
        font-size: x-large;
    }

    .title, .page-title {
        font-weight: bold;
        text-align: center;
    }
}

