<ng-container *ngIf="control">
    <ion-item button="true" [id]="pickerId">
        <ng-container *ngIf="control.value else datePlaceholderText">
            <ion-label class="ion-text-center">{{ control.value | date: dateDisplayFormat }}</ion-label>
        </ng-container>
        <ng-template #datePlaceholderText>
            <ion-label class="ion-text-center placeholder">{{ placeholderText | translate }}</ion-label>
        </ng-template>
            <ion-modal [trigger]="pickerId" [breakpoints]="[0.1, 0.25, 0.5, 0.75, 0.9]" [initialBreakpoint]="0.5">
                <ng-template>
                    <ion-datetime [formControl]="control" #popoverDatePicker [presentation]="presentationMode"
                                  [min]="min" [max]="max" first-day-of-week="1" [locale]="dateTimeLocale" size="cover">
                        <ion-buttons slot="buttons">
                            <ion-button slot="start" (click)="popoverDatePicker.reset()">
                                {{ 'RESET' | translate }}
                            </ion-button>
                            <ion-button slot="end" (click)="popoverDatePicker.confirm(true)">
                                {{ 'CONFIRM' | translate }}
                            </ion-button>
                        </ion-buttons>
                    </ion-datetime>
                </ng-template>
            </ion-modal>
        <ion-icon color="primary" slot="end" name="calendar-outline"></ion-icon>
    </ion-item>
</ng-container>
