<ion-card class="ion-text-center" (click)="connectToDevice.emit(deviceInfo.address)">
    <ion-card-content>
        <ion-row>
            <ion-col>
                <ion-label>{{deviceInfo.name ?? "Unknown"}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label>{{deviceInfo.address}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label>{{deviceInfo.rssi}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-button color="primary">{{ "CONNECT" | translate }}</ion-button>
    </ion-card-content>
</ion-card>
